<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects>
      <object name="DependencyInjectionExample" type="PatternCollection.DependencyInjection.Models.DependencyInjectionExample">
        <property name="ApiConfig" ref="DefaultApiConfig" />
      </object>
      <object name="DefaultApiConfig" type="PatternCollection.DependencyInjection.Models.ApiConfig">
        <property name="BaseUrl" value="https://api.itwasntme007.nl" />
        <property name="DefaultPort" value="80" />
        <property name="DefaultTimeout" value="5000" />
      </object>
    </objects>
  </spring>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>